[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
config_app_flask = "export FLASK_APP=src/app.py"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
start = "python src/app.py"